<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-primary">Crear cliente</a>
					<a th:href="@{'/listar'(format=csv)}" class="btn btn-success btn-xs float-right">Exportar a CSV</a>
					<a th:href="@{'/listar'(format=xml)}" class="btn btn-success mx-2 btn-xs float-right">Exportar a XML</a>
					<a th:href="@{'/listar'(format=json)}" class="btn btn-success mx-2 btn-xs float-right">Exportar a JSON</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Email</th>
							<th>Fecha</th>
							<th>Crear factura</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td> <a th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.nombre}"></a></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td><a class="btn btn-success btn-sm" th:href="@{'/factura/form/' + ${cliente.id}}"
									th:text="'Crear factura'"></a></td>
							<td><a class="btn btn-primary btn-sm" th:href="@{/form/} + ${cliente.id}"
									th:text="'Editar'"></a></td>
							<td><a class="btn btn-danger btn-sm" th:href="@{/eliminar/} + ${cliente.id}"
									th:text="'Eliminar'"
									onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>